<h1 class="text-center my-4">Deputador do Estado <% params[:estado] %></h1>

<div class="container">
    <div class="mb-4">
        <%= form_with url: deputados_path, method: :get, local: true, class: "row g-3 align-items-end" do %>
            <%= hidden_field_tag :estado, params[:estado] %>

            <div class="row g-3 justify-content-center">
                <div class="col-md-6">
                    <%= label_tag :nome, "Nome do Deputado", class: "form-label" %>
                    <%= text_field_tag :nome, params[:nome], class: "form-control" %>
                </div>

                <div class="col-md-4">
                    <%= label_tag :partido, "Partido", class: "form-label" %>
                    <%= select_tag :partido, options_for_select(Deputado.distinct.order("partido ASC").pluck(:partido), params[:partido]), class: "form-select" %>
                </div>
            </div>

            <div class="row mt-3 justify-content-center">
                <div class="col-md-3 d-flex gap-2">
                    <%= submit_tag "Filtrar", class: "btn btn-primary w-100" %>
                    <%= link_to "Limpar", deputados_path(estado: params[:estado]), class: "btn btn-secondary w-100" %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Partido</th>
                    <th>Estado</th>
                    <th>Maior despesa</th>
                    <th>Total de Despesa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <% @deputados.each do |deputados| %>
                    <tr>
                        <td>
                            <img src="http://www.camara.leg.br/internet/deputado/bandep/<%= deputados.ide_cadastro %>.jpg" 
                                alt="Foto de <%= deputados.nome %>" class="rounded-circle" width="50" height="50">
                        </td>
                        <td><%= deputados.nome %></td>
                        <td><%= deputados.partido %></td>
                        <td><%= deputados.estado %></td>
                        <td>R$ <%= number_to_currency(deputados.despesas.order(valor_liquido: :desc).limit(1).pluck(:valor_liquido).first, unit: "", separator: ",", delimiter: ".") %></td>
                        <td>R$ <%= number_to_currency(deputados.despesas.sum(:valor_liquido), unit: "", separator: ",", delimiter: ".") %></td>
                        <td><%= link_to "Detalhes", deputado_path(deputados), class: "btn btn-info btn-sm" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center my-4">
        <%= paginate @deputados %>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <%= link_to "Voltar", selecao_estado_path, class: "btn btn-secondary" %>
        <%= link_to "Página Inicial", root_path, class: "btn btn-primary" %>
    </div>
</div>
