<h1>Deputador do Estado <% params[:estado] %></h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Partido</th>
            <th>Estado</th>
            <th>Total de Despesa</th>
        </tr>
    </thead>
    <tbody>
        <% @deputados.each do |deputados| %>
            <tr>
                <td><%= deputados.nome %></td>
                <td><%= deputados.partido %></td>
                <td><%= deputados.estado %></td>
                <td>R$ <%= deputados.despesas.sum(:valor_liquido) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "Voltar", root_path %>