<div class="container mt-5">
    <h1 class="text-center mb-4">Bem-Vindo ao Sistema de Consulta de Deputados</h1>

    <p class="lead text-center">
        Este sistema permite consultar informações sobre deputados deferais e suas despesas parlamentares.
    </p>

    <p class="lead text-center">
        Navegue pelos botões abaixo ou na barra de navegação acima:
    </p>

    <div class="text-center my-4">
        <%= link_to "Consultar Deputados", selecao_estado_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Importar CSV", upload_despesas_path, class: "btn btn-success btn-lg" %>
    </div>

    <p class="lead text-center">
        Abaixo um resumo dos valores aqui disponíveis:
    </p>

    <div class="row text-center mt-4">
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h3>Total de Deputados</h3>
                <p class="display-5"><%= @total_deputados %></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h3>Total de Despesas</h3>
                <p class="display-5"><%= @total_despesas %></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h3>Gastos Totais</h3>
                <p class="display-5">R$ <%= number_to_currency(@gastos_totais, unit: "", separator: ",", delimiter: ".") %></p>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <h3>Exercícios Disponíveis</h3>
        <p class="lead">As informações presentes nos dados são dos seguintes exercícios:</p>
        <div class="d-flex justify-content-center gap-2 flex-wrap">
            <% @exercicios_disponiveis.each do |ano| %>
                <span class="badge bg-secondary fs-5 px-3 py-2"><%= ano %></span>
            <% end %>
        </div>
    </div>
</div>
