<!DOCTYPE html>
<html>
  <head>
    <title>Desafio Backend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/navbar" %>

    <main class="flex-shrink-0 flex-grow-1">
      <div class="container mt-3 pt-4">
        <%= yield %>
      </div>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
